//GLOBAL STYLES

html,
body{
	@include position(fixed, 0 0 0 0);
	background: transparent url('../images/background-img.jpg') center center no-repeat;
	@include background-size(cover);
	overflow-x: hidden;
}

em{ font-style:italic; }

small{ font-family:$sans-regular; font-size:$fontsize-small; }

h1{ font-family:$sans-bold; font-size:$fontsize-toobig; }
h2{ font-family:$sans-bold; font-size:$fontsize-huge; }
h3{ font-family:$sans-bold; font-size:$fontsize-bigger; }
h4{ font-family:$sans-bold; font-size:$fontsize-big; }
h5{ font-family:$sans-bold; font-size:$fontsize-medium; }
h6{ font-family:$sans-bold; font-size:$fontsize-base; }

p{ font-family:$sans-regular; font-size:$fontsize-base; line-height:normal; }

.text-bold{ font-family:$sans-bold; }


//BUTTON BASE STYLES
	.btn{
		border-radius:3px;
		color:$base-white;
		display:inline-block;
		font-family:$sans-bold;
		font-size:$fontsize-base;
		@include transition ( all 0.2s ease-in-out );
		padding:12px 20px 8px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;

		small{
			display:block;
			margin-top:0.5em;
		}

		&:hover{
			text-decoration:none;
		}

		&:active{
			color:$base-white;
		}

		&:focus{
			color:$base-white;
			outline:none;
		}
	}

//BLACK BUTTON
.btn-black{
	background: $base-black;
	color:$base-white;

	&:hover{
		background: $dark-black;
	}
}


//BUTTON STYLES
	.btn-small{ padding:8px 10px; }
	.btn-large{
		font-size: $fontsize-medium;
		padding: 15px 30px;


		@include media($tablet) {
			font-size: $fontsize-big;
			padding: 15px 60px;
		}
	}