footer{
	border-top:1px solid $base-grey;
	color:$dark-grey;
	font-family:$sans-regular;
	@include outer-container;
	margin:2.3em auto;
	padding:2.3em 2.3em 0;

	@include media($mobile){ width:80%; }
	@include media($desktop){ width:100%; }

	li{
		display:inline;
		float:left;
		font-size:$fontsize-small;
		padding-right:1.0em;

		a{
			color:$base-green;
			@include transition (all 0.2s ease-in-out);

			&:hover{ opacity:0.8; }
		}

		&:last-child{ padding-right:0; }
	}

	.left-footer{
		@include media($mobile){ margin-bottom:1.3em; text-align:center; 

			li{ float:none; display:block; margin-bottom:0.89em; }
		}
		
		@include media($desktop){ 
			@include span-columns(6); 
			margin-bottom:0; 
			text-align:left; 

			li{  float:left; display:inline; margin-bottom:0; }

		}
	}

	.right-footer{

		@include media($mobile){ 
				margin-bottom:1.3em; 
				text-align:center; 
				
				li{ float:none; display:block; margin-bottom:0.89em; }
			}
			
			@include media($desktop){ 
				@include span-columns(6); 
				margin-bottom:0; 
				text-align:left; 

				li{  float:right; display:inline; margin-bottom:0; }

			}

		li{ 

			a{
				color:$dark-grey;
				text-decoration:none;
			}
			&:last-child{ padding-right:1.0em; }
			&:first-child{ padding-right:0em; }
		}
	}
}