.page-layout{
	background-color:$dark-white;
	@include radial-gradient(circle at 50% 50%, $base-white 20%, $dark-white 40%, #E6E8EB);
	overflow-x:hidden;

	.page-position-center{ position:absolute; }

	.main-page-container{
		background:transparent url('../images/background-img.png') no-repeat center center;
		@include outer-container;

		.left-section{
			@include span-columns(6);
			margin-top:5.5em;

			.logo{
				@include retina-image('../images/logo', 424px 160px);
				background-repeat:no-repeat;
				height:160px;
				text-indent:-9999px;
			}

			.main-message{
				margin-top:3.3em;

				h1{
					color:$base-green;
					text-transform:uppercase;
					font-size:$fontsize-toobig + 10px;
				}

				p{
					color:$dark-grey;
					font-size:$fontsize-medium;
					line-height:normal;
					margin-top:1.5em;

					.cite{
						font-family:$sans-bold;
						display:block;
						margin-top:1.3em; 
					}
				}

				.btn-green{
					margin-top:1.5em;
				}
			}
		}

		.right-section{
			@include span-columns(6);
			margin-top:3.3em;

			li{
				width:145px;
				display:inline;
				float:left;

				img{ display:inline; height:746px; padding:2.5em 0 0; }

				&.bottle-left, &.bottle-right{
					bottom:15px;
					position:relative;
					z-index:1;
				}

				&.bottle-front{
					position:relative;
					z-index:2;
				}
			}
		}
	}
}