//COLORS
	
	//BLACK
	$base-black:#444444;
	$dark-black:#000000;

	//GREEN
	$light-green:#50D858;
	$base-green:#2DB035;
	$dark-green:#208626;

	//GREY
	$light-grey:#EBEBEB;
	$base-grey:#CCCCCC;
	$dark-grey:#959595;

	//ORANGE
	$light-orange:#FD982F;
	$base-orange:#EF7C02;
	$dark-orange:#C86700;

	//PURPLE
	$base-purple:#642567;

	//RED
	$base-red:#AC1A2F;

	//WHITE
	$base-white:#FFFFFF;
	$dark-white:#FAFAFA;
	$darkest-white:#E3E4E8;


//FONTS

	//FONT FAMILIES  

  //SANS-SERIF
  $sans-regular: Helvetica, sans-serif;
  $sans-bold: Helvetica, sans-serif;

	//SIZES
	$fontsize-tiny:11px;
	$fontsize-small:12px;
	$fontsize-base:15px;
	$fontsize-medium:18px;
	$fontsize-big:24px;
	$fontsize-bigger:30px;
	$fontsize-huge:35px;
	$fontsize-toobig:45px