/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../bower_components/neat/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/_base.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/_base.scss */
small {
  font-size: 12px;
}

/* line 13, ../sass/_base.scss */
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 45px;
}

/* line 14, ../sass/_base.scss */
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
}

/* line 15, ../sass/_base.scss */
h3 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

/* line 16, ../sass/_base.scss */
h4 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

/* line 17, ../sass/_base.scss */
h5 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

/* line 18, ../sass/_base.scss */
h6 {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

/* line 20, ../sass/_base.scss */
p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

/* line 24, ../sass/_base.scss */
.btn {
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 12px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 36, ../sass/_base.scss */
.btn small {
  display: block;
  margin-top: 0.5em;
}
/* line 41, ../sass/_base.scss */
.btn:hover {
  text-decoration: none;
}
/* line 45, ../sass/_base.scss */
.btn:active {
  color: white;
}
/* line 49, ../sass/_base.scss */
.btn:focus {
  color: white;
  outline: none;
}

/* line 56, ../sass/_base.scss */
.btn-green {
  border: 1px solid #17631C;
  color: white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.4);
  -moz-text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.4);
  -webkit-text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.58);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.58);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.58);
  background-color: #2db035;
  background-image: -webkit-linear-gradient(#2db035, #208626);
  background-image: linear-gradient(#2db035, #208626);
}
/* line 64, ../sass/_base.scss */
.btn-green:hover {
  border: 1px solid #5D801A;
  color: #FAFAFA !important;
}
/* line 69, ../sass/_base.scss */
.btn-green:active {
  border: 1px solid #5D801A;
  color: #98CB34;
  background-color: #208626;
  background-image: -webkit-linear-gradient(#208626, #2db035);
  background-image: linear-gradient(#208626, #2db035);
}

/* line 78, ../sass/_base.scss */
.btn-small {
  padding: 8px 10px !important;
}

/* line 79, ../sass/_base.scss */
.btn-large {
  font-size: 24px;
  padding: 15px 50px !important;
}

/* line 1, ../sass/_page-layout.scss */
html, body {
  overflow: hidden;
}

/* line 4, ../sass/_page-layout.scss */
.page-layout {
  background-color: #fafafa;
}
/* line 7, ../sass/_page-layout.scss */
.page-layout .main-page-container {
  background: transparent url(../images/background-img.png) no-repeat center center;
  height: 100%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../bower_components/bourbon/dist/addons/_clearfix.scss */
.page-layout .main-page-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 5.5em;
}
/* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.page-layout .main-page-container .left-section:last-child {
  margin-right: 0;
}
/* line 16, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 160px;
  text-indent: -9999px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 16, ../sass/_page-layout.scss */
  .page-layout .main-page-container .left-section .logo {
    background-image: url("../images/logo_2x.png");
    background-size: 424px 160px;
  }
}
/* line 23, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .main-message {
  margin-top: 3.3em;
}
/* line 26, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .main-message h1 {
  color: #2db035;
  text-transform: uppercase;
  font-size: 55px;
}
/* line 32, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .main-message p {
  border-left: 10px solid #2db035;
  color: #959595;
  font-size: 18px;
  line-height: normal;
  margin-top: 1.5em;
  padding-left: 1.0em;
}
/* line 40, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .main-message p .cite {
  font-family: Helvetica, sans-serif;
  display: block;
  margin-top: 1.3em;
}
/* line 47, ../sass/_page-layout.scss */
.page-layout .main-page-container .left-section .main-message .btn-green {
  margin-top: 1.5em;
}
/* line 53, ../sass/_page-layout.scss */
.page-layout .main-page-container .right-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 3.3em;
}
/* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.page-layout .main-page-container .right-section:last-child {
  margin-right: 0;
}
/* line 57, ../sass/_page-layout.scss */
.page-layout .main-page-container .right-section li {
  width: 145px;
  display: inline;
  float: left;
}
/* line 62, ../sass/_page-layout.scss */
.page-layout .main-page-container .right-section li img {
  display: inline;
  height: 746px;
}
/* line 64, ../sass/_page-layout.scss */
.page-layout .main-page-container .right-section li.bottle-left, .page-layout .main-page-container .right-section li.bottle-right {
  bottom: 15px;
  position: relative;
  z-index: 1;
}
/* line 70, ../sass/_page-layout.scss */
.page-layout .main-page-container .right-section li.bottle-front {
  position: relative;
  z-index: 2;
}
